<html>
    <head>
        <title>Colored View with Title</title>
    </head>
    <body bgcolor="#ffff00" text="#000066">
        <h1><field content="PCname"/></h1>
        <table border="2" width="100%" bgcolor="#00ccff">
            <tr><th colspan="2" bgcolor="#99ffff">Features</th></tr>
            <tr><td>Type of case:</td><td><field content="typeCase"/></td></tr>
            <tr><td>Size of harddisk:</td><td><field content="harddisk"/></td></tr>
            <tr><td>Bus system:</td><td><field content="typeBus"/></td></tr>
            <tr><td>Software:</td><td><field content="software"/></td></tr>
        </table>
        <div align="right">
            <font size="+1"><b>Price: <field content="price"/></b></font>
        </div>
    </body>
</html>

