body { background-color: white; }
p,ul,dl,ol,td { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
pre,tt { color:rgb(0,0,55); font-family:Courier, monospace; font-size:10pt; }
p.header { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:32pt; text-align:center; font-weight:bold; border-color:rgb(180,180,255); border-bottom-style:solid; border-bottom-width:5px; border-top-style:solid; border-top-width:5px; }
h1 { border-color:rgb(180,180,255); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:3px; font-family:Arial,Helvetica,sans-serif; font-size:24pt; text-align:center; }
h2 { border-color:rgb(180,180,255); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:2px; font-family:Arial,Helvetica,sans-serif; font-size:14pt; }
h3 { border-color:rgb(180,180,255); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:2px; font-family:Arial,Helvetica,sans-serif; font-size:12pt; margin-left:20pt; }
dt { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; font-weight:bold; }
dd { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
a:link, a:visited { color:rgb(70,70,255); text-decoration:none; }
a:hover, a:active { color:rgb(70,70,255); text-decoration:underline; }
a.xwebLink:link, a.xwebLink:visited { color:rgb(70,150,100); text-decoration:none; }
a.xwebLink:hover, a.xwebLink:active { color:rgb(70,150,100); text-decoration:underline; }
a.localLink:link, a.localLink:visited { color:rgb(70,150,100); text-decoration:none; }
a.localLink:hover, a.localLink:active { color:rgb(70,150,100); text-decoration:underline; }
td.firstLogo { text-align:center; height:100px; }
td.navNormalSection { color:white; white-space:nowrap; background-color:rgb(0,0,55); padding:2px 15px; text-align:center; font-weight:bold; border-style:solid; border-color:rgb(0,0,55); border-width:2px; }
td.navNormalSection a:link, td.navNormalSection a:visited { color:white; white-space:nowrap; font-weight:bold; text-decoration:none; }
td.navNormalSection a:hover, td.navNormalSection a:active { text-decoration:underline;text-align:left }
td.navActiveSection { color:white; white-space:nowrap; background-color:white; padding:1px 15px; text-align:left; font-weight:bold; border-style:solid; border-color:white; border-width:2px; }
td.navActiveSection a:link, td.navActiveSection a:visited { color:white; white-space:nowrap; font-weight:bold; text-decoration:none; }
td.navActiveSection a:hover, td.navActiveSection a:active { text-decoration:underline; }
td.navNormalEntry { white-space:nowrap; background-color:white; padding:3px; text-align:right; }
td.navNormalEntry a:link, td.navNormalEntry a:visited { color:rgb(0,0,55); font-weight:bold; text-decoration:none; }
td.navNormalEntry a:hover, td.navNormalEntry a:active { text-decoration:underline; }
td.navActiveEntry { white-space:nowrap; background-color:white; color:rgb(0,0,55); font-weight:bold; text-decoration:underline; padding:3px; text-align:center; }
.firstLetter { color:rgb(180,180,255); font-weight:bold; }
table.footer { margin-top: 10%; }
ul.publicationNotes { margin-top:0; }